@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur Vaccinator 2-2-2-2000!!!!</h1>
    <p>Le projet a été réalisé par : <br /> <a> Tocquec Georges-Luis <br /> François Rousseau <br /> Jean-Michel Solère</a>.</p>
</div>
